<%- include('partials/header.ejs') %>
<div class="filme-novo-container">
  <div>
    <form action="" method="post" enctype='multipart/form-data'>
      <label for="" class="form-label input-label">Insira a Imagem de Wallpaper do Filme</label>
      <input type="file"  accept="image/*" class="form-control">
  </div>
  <div class="wallpaper-container wallpaper-container-input">
    </form>
      <img
        src="img/utils/plus.png"
        class="d-block w-100"
        alt="Wallpaper do Filme"        
        style="max-height: 200px;"
        />
      <div class="wallpaper-title">
        <input type="text" placeholder="Título do Filme" class="form-control" name="titulo">
      </div>
  </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <img
        src="img/mocks/gladiador_poster.png"
        class="d-block w-100 poster-image"
        alt="Poster do Filme"
      />
      </div>
      <div class="col-md-9 col-sm-12 d-flex flex-column justify-content-end">
        <div class="d-flex flex-row align-items-center justify-content-start" style="gap: 5px; color: #fff; font-weight: 600; border-width: .5px; border-color: #7a7a7a; border-style: solid; width: fit-content; padding: 5px; border-radius: 10px; ">
          <div style="background-color: #BE0D0D; border-radius: 5px; padding-inline: 5px; ">16</div>
          <p style="margin: 0px;">Ação</p>
        </div>
        <textarea name="descricao" id="inputDescricao" placeholder="Descrição" class="form-control  mt-3" rows="6"></textarea>  
      </div>
    </div>
    <div>
      <hr>
      <div class="filme-descricao-item">
        <p class="filme-descricao-item-title">Distribuído por</p>
        <p class="filme-descricao-item-data">        <input type="text" placeholder="Produtora" class="form-control" name="produtora">
        </p>
      </div>
      <hr>
      <div class="filme-descricao-item">
        <p class="filme-descricao-item-title">Diretor</p>
        <p class="filme-descricao-item-data">
                  <input type="text" placeholder="Diretor" class="form-control" name="diretor">
        </p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
