<%- include('partials/header.ejs') %>
<div class="filme-info-container">
  <div class="wallpaper-container">
      <img
        src="img/mocks/gladiador_wallpaper.png"
        class="d-block w-100"
        alt="Wallpaper do Filme"
      />
      <div class="wallpaper-title">
        <h2>GLADIADOR II</h2>
      </div>
  </div>
    <div class="row">
      <div class="col-3">
        <img
        src="img/mocks/gladiador_poster.png"
        class="d-block w-100 poster-image"
        alt="Poster do Filme"
      />
      </div>
      <div class="col-9 d-flex flex-column justify-content-end">
        <div class="d-flex flex-row align-items-center justify-content-start" style="gap: 5px; color: #fff; font-weight: 600; border-width: .5px; border-color: #7a7a7a; border-style: solid; width: fit-content; padding: 5px; border-radius: 10px; ">
          <div style="background-color: #BE0D0D; border-radius: 5px; padding-inline: 5px; ">16</div>
          <p style="margin: 0px;">Ação</p>
        </div>
        <p class="filme-descricao">Do lendário diretor Ridley Scott, ‘Gladiador II’ continua a saga épica de poder, intriga e vingança ambientada na Roma Antiga. Anos depois de testemunhar a morte do venerado herói Maximus nas mãos de seu tio, Lucius (Paul Mescal) é forçado a entrar no Coliseu depois que seu lar é conquistado pelos imperadores tirânicos que agora comandam Roma com mão de ferro. Com a raiva em seu coração e o futuro do Império em jogo, Lucius deve olhar para o seu passado para encontrar força e honra para devolver a glória de Roma ao seu povo. </p>
        <p class="filme-descricao" style="margin: 0px;">Classificação indicativa 16 Anos. Contém drogas, linguagem imprópria, violência extrema.</p>
      </div>
    </div>
    <div>     
      <hr>
      <div class="filme-descricao-item">
        <p class="filme-descricao-item-title">Distribuído por</p>
        <p class="filme-descricao-item-data">Paramount</p>
      </div>
      <hr>
      <div class="filme-descricao-item">
        <p class="filme-descricao-item-title">Diretor</p>
        <p class="filme-descricao-item-data">Ridley Scott</p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
