* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #12100D !important;
}

/* Header */
nav {
    margin-inline: 10vw !important;
    background-color: #12100D !important;
    font-size: .8rem;
    font-weight: 700;

    height: 12vh;

    position: fixed;
    top: 0px;
}

.navbar-brand {
    color: #FFF !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
}

.nav-item>a {
    color: #FFF !important;
}

.nav-item {
    color: #FFF !important;
}

.li-centered-content {
    display: flex;
    align-items: center;
}

.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

#input-search-filme {
    background-color: #12100D;
    color: #fff;
    border: none;

}

#input-search-filme::placeholder {
    color: #fff;
    font-size: .7rem;
    font-weight: 700;
}

.dropdown>li>a {}

#dropdown-select-city {
    color: rgb(247, 3, 3) !important;
}

/* Main */
main {
    background-color: #12100D;
    min-height: 88vh;
    margin-inline: 10vw;
}

/* Home Page */
.home-page-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.carousel-item-image>img {
    border-radius: 15px 15px 15px 15px;
}

.carousel-item-image {
    position: relative;
}

.carousel-item-button-container {
    position: absolute;
    left: 25px;
    bottom: 25px;

    color: #FFF;
}

.carousel-item-button-container>h2 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.carousel-item-button-container>button {
    color: #12100D;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 15px;

    border-radius: 10px;
    z-index: 1000;
}

.lista-filmes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #FFF;
}

.lista-filmes-header h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.lista-filmes-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lista-filmes-btn-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2F2D2A;
    border-radius: 10px;
    width: 40px;
}

#carousel-lista-filmes-inner>.carousel-item {
    padding: 1em;
}

.card {      
    margin: 0 .5em;
    border: none !important;
    background-color: transparent !important;
    color: #FFF !important;
    
}
.card-top{
    width: 100% ;
    height: 300px;
}
.card-img-top{
    width: 100% !important;
    border-radius: 15px !important;
}
.card-bottom-body{
    background-color: #23211E;
    border-radius: 15px !important;    
}

.lista-item-filme:hover{
    transform: scale(1.05);
    
}


/* Filme Informacoes Page */
.filme-info-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.wallpaper-container {
    position: relative;
}

.wallpaper-container>img {
    border-radius: 15px;
}

.wallpaper-title {
    position: absolute;
    left: 25px;
    bottom: 25px;

    color: #FFF;
}

.wallpaper-title>h2 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.filme-descricao {
    color: #AAA9A8;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.poster-image {
    border-radius: 10px;
}

.filme-descricao-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filme-descricao-item-title {
    color: #FFF;
    font-weight: 600;
    font-size: 1.0rem;
    margin-bottom: 0px;
}

.filme-descricao-item-data {
    color: #AAA9A8;
    font-weight: 600;
    font-size: 1.0rem;
    margin-bottom: 0px;
}

/* Novo Filme Page */
.filme-novo-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.wallpaper-container-input {
    border: 1px solid;
    border-color: #AAA9A8;
    border-radius: 15px;
}


.input-label {
    color: #FFF;
    font-weight: 500;
    font-size: 1.0rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #FFF;
    font-size: .8rem;
    padding-bottom: 8vh;
}

@media screen and (min-width: 576px) {
    #carousel-lista-filmes-inner {
        display: flex;
    }

    #carousel-lista-filmes-inner>.carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

}